{% extends "user_management/base.html" %}
{% block content %}
<main>
    <h1 class="title">Update Profile</h1>
    <section class="current-details">
        <section class="name">
            <span>Current Name:</span>
            <span>{{ profile.name }}</span>
        </section>
        <section class="email-address">
            <span>Current Email:</span>
            <span>{{ profile.email_address }}</span>
        </section>
    </section>
    <article class="update-form">
        <form method="post">
            {% csrf_token %}
            <label for="new_name">
                <span>New Name</span>
                <input type="text" name="new_name" id="new_name">
            </label>
            <label for="new_email_address">
                <span>New Email Address</span>
                <input type="text" name="new_email_address" id="new_email_address">
            </label>
            <input type="submit" value="Submit">
        </form>
    </article>
</main>
{% endblock %}