{% extends 'wiki/base.html' %}

{% load static %}
{% block title %}Wiki Articles{% endblock %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'wiki/style.css' %}" />
{% endblock %}

{% block content %}
    <h1>Wiki Articles</h1>

    <a href="{% url 'wiki:article_create' %}">Create New Article</a>

    {% if user.is_authenticated %}
        <h2>Your Articles</h2>
        <ul>
            {% for article in user_articles %}
                <li><a href="{% url 'wiki:article_detail' article.pk %}">{{ article.title }}</a></li>
            {% empty %}
                <li>You haven't created any articles yet.</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for category_name, category_articles in categorized_articles.items %}
        <h2>{{ category_name }}</h2>
        <ul>
            {% for article in category_articles %}
                <li><a href="{% url 'wiki:article_detail' article.pk %}">{{ article.title }}</a></li>
            {% empty %}
                <li>No articles in this category.</li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}
