{% extends 'wiki/base.html' %}
{% block title %}Wiki Articles{% endblock %}
{% block content %}
    <h1 class="title">Wiki Articles</h1>

    <a href="{% url 'article-create' %}">Create a new article</a>

    <h2>Your Articles</h2>
    <ul class="article-list">
        {% for article in articles %}
            {% if article.author == user.profile %}
                <li class="article-heading">
                <article>
                    <a href="{% url 'article-detail' article.pk %}">{{ article.title }}</a>
                    <p class="category">{{ article.category }}</p>
                    <p>Created on: {{ article.created_on | date }}</p>
                    <p>Updated on: {{ article.updated_on | date }}</p>
                </article>
                <hr>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>All Articles</h2>
    {% for category in categories %}
        <h3>{{ category.name }}</h3>
        <ul>
            {% for article in category.articles.all %}
                <li><a href="{% url 'article-detail' article.pk %}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
