{% extends 'wiki/base.html' %}
{% block title %}Wiki Articles{% endblock %}
{% block content %}
    <h1 class="title">wiki articles</h1>
    <ul class="article-list">
        {% for article in articles %}
            <li class="article-heading">
                <article>
                    <a href="{% url 'article-detail' article.pk %}">{{ article.title }}</a>
                    <p class="category">{{ article.category }}</p>
                    <p>Created on: {{ article.created_on | date }}</p>
                    <p>Updated on: {{ article.updated_on | date }}</p>
                </article>
                <hr>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
