section.card {
	margin-bottom: 20px;
}

section.user-articles {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

ul {
	list-style-type: disc;
	margin-bottom: 50px;
}

h1 {
	font-size: 1.8em;
	margin-bottom: 15px;
	margin-top: 5px;
}

h2 {
	font-size: 1.3em;
	font-weight: 500;
	margin-top: 0;
}


section.image-gallery {
	border-bottom: 2px dashed var(--dark-teal);
	padding-bottom: 5px;
	margin-top: 10px;
}


section.image-table {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px 15px;
	margin-top: 25px;
}

section.image-table > article img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

section.image-table > article {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 10px;
}

section.image-table > article div {
	height: 150px;
}

article > section.edit-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}

