{% extends 'base.html' %}
{% load static %}
{% block headcontent %}
	<link rel="stylesheet" href="{% static 'forum/style.css' %}">
{% endblock %}
{% block content %}
<main class="two-col">
	{% if user.is_authenticated %}
		<section class="card user-threads">
			<h1>Your Threads</h1>
			<ul class="fullw-list">
				{% for thread in user_threads %}
				<li>
					<a href="{% url 'forum:thread_detail' thread.id %}">{{ thread.title }}</a>
				</li>
				{% empty %}
				<li>No threads created by you.</li>
				{% endfor %}
			</ul>
			<a href="{% url 'forum:thread_create' %}" class="btn">Create New Thread</a>
		</section>
	{% endif %}

	<section class="card post-list">
		<h1>All Threads</h1>
		{% for category in categories %}
			<h2>{{ category.name }}</h2>
			<ul class="fullw-list">
				{% for thread in threads %}
					{% if thread.category == category %}
						{% if not user.is_authenticated or thread.author != user.profile %}
						<li>
							<a href="{% url 'forum:thread_detail' thread.id %}">{{ thread.title }}</a>
						</li>
						{% endif %}
					{% endif %}
				{% empty %}
				<li>No threads in this category.</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</section>
</main>
{% endblock %}
