{% extends 'forum/base.html' %}
{% load static %}
{% block headcontent %}
{% endblock %}
{% block content %}
<main>
	<section class="post-heading">
		<section class="post-heading-content">
			<h1>{{ post.title }}</h1>
			<section class="post-metadata">
				<p class="category-chip">{{ post.category }}</p>
				<p>Created {{ post.created_on | date }}. Last updated {{ post.updated_on | date }}</p>
			</section>
			<a href="" class="button">Edit Post</a>
		</section>
	</section>
	<p>{{ post.entry }}</p>
</main>
{% endblock %}
