{% extends 'forum/base.html' %}
{% load static %}
{% block headcontent %}
{% endblock %}
{% block content %}
<main class="white-bg-detail">
	<section class="post-heading">
		<section class="post-heading-content">
			<h1>{{ post.title }}</h1>
			<section class="post-metadata">
				<p>{{ post.category }}</p>
				<p>Created {{ post.created_on | date }}. Last updated {{ post.updated_on | date }}</p>
			</section>
			<a href="" class="button">Edit Post</a>
		</section>
	</section>
	<p>{{ post.entry }}</p>
	<section id="comments">
		<form action="POST">
			{% csrf_token %}
			<input type="text" name="comment" />
			<button>Post</button>
		</form>

		<section id="comment-list">
			<ul>
				{% for comment in thread.comments %}
				<li>
					<p class="comment-user-info">
						{{ comment.profile.name }} | {{ comment.created_on }}
					</p>
					<p>{{ comment.entry }}</p>
				</li>
				{% endfor %}
			</ul>
		</section>
	</section>
</main>
{% endblock %}
