ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: column nowrap;
}

li.list-item * {
	margin: 5px;
}

li.list-item {
	margin-bottom: 15px;
}

h1 {
	font-size: 1.5em;
}

main > section:first-child {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: start;
	gap: 15px;
}

main > section:first-child p.button {
	padding: 5px 20px;
	font-weight: 500;
	font-size: 0.8em;
}

section.job-footer {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 12px 0;
}

section.job-footer > p {
	font-family: "Fredoka";
	font-weight: 500;
	color: var(--dark-teal);
}

li.list-item > section {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

li.list-item h2 {
	font-weight: 600;
}

a.button, a.button *, a p.button {
	color: white;
}
