.full-flex {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	gap: 20px;
}

section.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	column-gap: 20px;
}

section.product-item {
	border: 1px solid var(--dark-teal);
	border-radius: 15px;
	padding: 10px 15px;
}

.product-grid > .product-item > section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
