{% extends 'base.html' %}
{% load static %}
	{% block headcontent %}
	<link rel="stylesheet" href="{% static 'wiki/style.css' %}">
	{% endblock %}
	{% block content %}
	<main class="two-col">
		{% if user.is_authenticated %}
		<section class="card user-articles">
			<section class="top">
				<h1>Your Articles</h1>
				<ul class="fullw-list">
					{% for article in user.profile.blog_articles.all %}
					<li>
						<a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
					</li>
					{% empty %}
					<li>No articles written by you.</li>
					{% endfor %}
				</ul>
			</section>
			<a href="{% url 'blog:article_create' %}" class="button">+ Write a New Article</a>	
		</section>
		{% endif %}

		<section class="card all-items">
			<h1>All Articles</h1>
			{% for category in categories %}
			<h2>{{ category.name }}</h2>
			<ul class="fullw-list">
				{% for article in category.articles.all %}
				{% if article.author != user.profile %}
				<li>
					<a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
				</li>
				{% endif %}
				{% empty %}
				<li>No articles in this category.</li>
				{% endfor %}
			</ul>
			{% endfor %}

		</section>
	</main>
	{% endblock %}
