{% extends 'base.html' %}
{% load static %}
	{% block headcontent %}
	<link rel="stylesheet" href="{% static 'forum/detail.css' %}">
	{% endblock %}
	{% block content %}
	<main class="white-bg-detail">
		<section class="thread-content">
			<section class="thread-header">
				<section class="thread-meta">
					<h1>{{ article.title }} by {{article.author}}</h1>
					<span>{{ article.category }}</span>
					<span>Created On: {{ article.created_on|date:"m/d/Y" }}</span>
					<span>Updated On: {{ article.updated_on|date:"m/d/Y" }}</span>
				</section>
				{% if user.profile == article.author %}
				<a href="{% url 'blog:article_update' article.id %}" class="button">Edit Post</a>
				{% endif %}
			</section>
			<img src="{{ article.header_image.url }}" alt="">
			<p class="thread-entry">{{ article.entry|linebreaksbr }}</p>
			<section class="related-threads">
				<h2>Related Threads</h2>
				<section class="related-links">
					{% for article in related_articles %}
					<a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
					{% if not forloop.last %}, {% endif %}
					{% empty %}
					<p>No related articles found.</p>
					{% endfor %}
				</section>
			</section>
		</section>

		<section class="comments-section">
			{% if user.is_authenticated %}
			<form method="post" class="comment-form">
				{% csrf_token %}
				<input type="text" name="entry" placeholder="Write a comment..."/>
				<button type="submit">Post</button>
			</form>
			{% endif %}
			<section class="comments-list">
				{% for comment in article.comments.all %}
				<section class="comment">
					<p class="comment-header">
						{{ comment.author.user.profile.name }} | {{ comment.created_on|date:"m/d/Y" }}
					</p>
					<p>{{ comment.entry|linebreaksbr }}</p>
				</section>
				{% empty %}
				<p>No comments yet.</p>
				{% endfor %}
			</section>
		</section>
	</main>
	{% endblock %}
