{% extends 'blog/base.html' %}
{% block content %}
<main>
	<h1 class="title">{{ article.title }}</h1>
	<section class="article-metadata">
		<section class="category">
			<p><b>Category:</b> {{ article.category }}</p>
			<hr>
		</section>
		<section class="entry">
			<p><b>Entry:</b></p>
			<p class="text">{{ article.entry }}</p>
			<hr>
		</section>
		<section class="dates">
			<p><b>Created on:</b> {{ article.created_on | date }}</p>
			<p><b>Updated on:</b> {{ article.updated_on | date }}</p>
		</section>
	</section>
</main>
{% endblock %}