{% extends 'commissions/base.html' %}
{% block title %}Commission Detail{% endblock %}
{% block content %}
    <h1>{{ commission.title }}</h1>
    <article class="commission-metadata">
        <section class="description">
            <h2><b>Description</b></h2>
            <p>{{ commission.description }}</p>
            <p><b>People Required:</b> {{ commission.people_required }}</p>
            <p><b>Created On:</b> {{ commission.created_on }}</p>
        </section>
        <hr>
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
                <li>{{ comment.entry }} ({{ comment.created_on }})</li>
            {% endfor %}
        </ul>
    </article>
    <a href="/commissions/list/">Back to List</a>
{% endblock %}
