{% extends 'commissions/base.html' %}
{% block title %}Commission List{% endblock %}
{% block content %}
<main>
    {% if user.is_authenticated %}
        <section>
            <section>
                <h1>Your Commissions</h1>
                <ul>
                    {% for commission in user.profile.commissions %}
                        <li>{{ commission }}</li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <h1>Your Applications</h1>
                <ul>
                    {% for application in user.profile.applications %}
                        <li>{{ application }}</li>
                    {% endfor %}
                </ul>
            </section>
        </section>
    {% endif %}

    <section>
        <h1>All Commissions</h1>
        <ul>
            {% for commission in object_list %}
                <li>{{ commission }}</li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
