{% extends 'base.html' %}
{% load static %}
    {% block headcontent %}
    <link rel="stylesheet" href="{% static 'commissions/base.css' %}">
    <link rel="stylesheet" href="{% static 'commissions/commissions_detail.css' %}">
    {% endblock %}
    {% block title %}Commission Detail{% endblock %}
    {% block content %}
    <main class="card">
        <section>
            <h1>Jobs for {{ commission.title }}</h1>
            {% if user.is_authenticated and commission.creator == user.profile %}
            <a href="">
                <p class="button">Edit Commission</p>
            </a>
            {% endif %}
        </section>
        <section>
            <ul>
                {% for job in commission.jobs.all %}
                <li class="list-item">
                    <h2>{{ job.role }}</h2>
                    <p class="status-chip">{{ job.status }}</p>
                    <section class="job-footer">
                        <p class="manpower">Manpower required: {{ job.manpower_required }}</p>
                        {% if user.is_authenticated and commission.status == "Open" and object.creator != user.profile %}
                        <button type="submit">Apply to Job</button>
                        {% endif %}
                    </section>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    {% endblock %}
