{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Commission List</title>
    <link rel="stylesheet" href="{% static 'commissions/style.css' %}">
</head>
<body>
    <h1>commissions</h1>
    <ul class="commission-list">
        {% for commission in commissions %}
            <li>
                <a href="{% url 'commissions:commission_detail' commission.id %}">
                    {{ commission.title }}
                </a>
                <p><b>People Required: </b> {{ commission.people_required }} </p>
                <p><b>Created On: </b> {{ commission.created_on }} </p>
            </li>
            <hr>
        {% endfor %}     
    </ul>
</body>
</html>