{% extends 'base.html' %}
    {% block title %}Commission Detail{% endblock %}
    {% block content %}
    <main class="card">
        <h1>Jobs for {{ commission.title }}</h1>
        {% if user.is_authenticated and commission.creator == user.profile %}
        <a href="">
            <p class="button">Edit Commission</p>
        </a>
        <section>
            {% endif %}
            <ul>
                {% for job in commission.jobs.all %}
                <li>
                    <p>{{ job.role }}</p>
                    <section>
                        <p>{{ job.status }}</p>
                        <p>{{ job.manpower_required }}</p>
                    </section>
                    <section>
                        <p>{{ job.manpower_required }}</p>
                        {% if user.is_authenticated and commission.status == "Open" and object.creator != user.profile %}
                        <button type="submit">Apply to Job</button>
                        {% endif %}
                    </section>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    {% endblock %}
