{% extends 'base.html' %}
{% load static %}
    {% block headcontent %}
    <link rel="stylesheet" href="{% static 'commissions/base.css' %}">
    <link rel="stylesheet" href="{% static 'commissions/job_detail.css' %}">
    {% endblock %}
    {% block title %}Job Detail{% endblock %}
    {% block content %}
    <main class="card">
        <h1>Applicants for {{ job.role }}</h1>
        {% if request.user.profile == job.commission.creator %}
            <a href="{% url 'commissions:job_update' job.id %}">
                <p class="button">Edit Job</p>
            </a>
        {% endif %}
        <ul>
            {% for application in applications %}
            <li class="list-item">
                <p>{{ application.applicant.name }}</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <button name="accept" type="submit" value="{{ application.id }}">Accept</button>
                    <button name="reject" type="submit" value="{{ application.id }}">Reject</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </main>
    {% endblock %}
