<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hobby Site</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'base.css' %}" />
		{% block headcontent %}{% endblock %}
	</head>

	<body>
		<header>
			<nav>
				<section class="nav-links">
					<ul>
						<li><a href="{% url 'homepage' %}">Home</a></li>
						<li><a href="{% url 'merchstore:merchstore_list' %}">Merch</a></li>
						<li><a href="{% url 'commissions:commission_list' %}">Commissions</a></li>
						<li><a href="{% url 'forum:index' %}">Forum</a></li>
						<li><a href="{% url 'wiki:article-list' %}">Wiki</a></li>
						<li><a href="{% url 'blog:index' %}">Blog</a></li>
					</ul>
				</section>
				<section class="login-section">
					{% if user.is_authenticated %}
						<p>{{ user.username }}</p>
						<a href="">
							<p>Logout</p>
						</a>
					{% else %}
						<a href="">
							<p>Login</p>
						</a>
					{% endif %}
				</section>
			</nav>
		</header>
		{% block content %}
		{% endblock %}
		<footer>
			<ul>
				<li>Home</li>
				<li>Merch</li>
				<li>Commissions</li>
				<li>Forum</li>
				<li>Wiki</li>
				<li>Blog</li>
			</ul>
		</footer>
	</body>

</html>
