<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hobby Site</title>
		<link rel="stylesheet" href="{% static 'base.css' %}" />
		{% block headcontent %}{% endblock %}
	</head>

	<body>
		<section class="padding with-content">
			<header>
				<nav>
					<section class="nav-links">
						<ul>
							<li><a href="{% url 'homepage' %}">Home</a></li>
							<li><a href="{% url 'merchstore:product_list' %}">Merch</a></li>
							<li><a href="{% url 'commissions:commission_list' %}">Commissions</a></li>
							<li><a href="{% url 'forum:index' %}">Forum</a></li>
							<li><a href="{% url 'wiki:article_list' %}">Wiki</a></li>
							<li><a href="{% url 'blog:article_list' %}">Blog</a></li>
							{% block extra_links %}{% endblock %}
						</ul>
					</section>
					<section class="login-section">
						{% if user.is_authenticated %}
						<p>{{ user.username }}</p>
						<div class="login-link">
							<div class="icon">
								<img src="{% static 'Male User.png' %}" alt="">
							</div>
							<a href="{% url 'password_reset' %}">
								<p>Reset Pass</p>
							</a>
							<form action="{% url 'logout' %}" method="post">
								{% csrf_token %}
								<button type="submit">Logout</button>
							</form>
						</div>
						{% else %}
						<a href="{% url 'login' %}">
							<div class="login-link">
								<div class="icon">
									<img src="{% static 'Male User.png' %}" alt="">
								</div>
								<p>Login</p>
							</div>
						</a>
						{% endif %}
					</section>
				</nav>
			</header>
			{% block content %}
			{% endblock %}
		</section>
		<footer>
			<ul>
				<li><a href="{% url 'homepage' %}">Home</a></li>
				<li><a href="{% url 'merchstore:product_list' %}">Merch</a></li>
				<li><a href="{% url 'commissions:commission_list' %}">Commissions</a></li>
				<li><a href="{% url 'forum:index' %}">Forum</a></li>
				<li><a href="{% url 'wiki:article_list' %}">Wiki</a></li>
				<li><a href="{% url 'blog:article_list' %}">Blog</a></li>
			</ul>
		</footer>
	</body>
</html>
