<!DOCTYPE html>
<html lang = "en-US">

<head>
	<title>Merch Store: Inventory!</title>
</head>

<body>
	<div id="headsup">
		<h1>Merch Store: Inventory</h1>
	</div>
	<div id="content">
		<h4>Good day! Welcome to the merch store!</h4>
		<br>
		<h5>Here's what we have for today...</h5>
		{% for aisle in inventory %}
			<details>
				<summary>
					<a href="{{aisle.product_kind.get_absolute_url}}"><b>{{ aisle.product_kind.name }}</b></a>
				</summary>
				{% for item in aisle.items %}
					<ul>
						<a href="{{item.get_absolute_url}}">{{ item.name }}</a>	
					</ul>
				{% endfor %}
			</details>
			<br>
		{% endfor %}

	</div>

</body>
</html>