@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
	background-color: #fffcf3;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

main {
	width: 60%;
}

h1 {
	font-family: 'Major Mono Display', monospace;
	font-size: 64px;
	color: #ab3428;
	margin-bottom: 10px;
}

section.post-list {
	border: 1px solid black;
	border-radius: 15px;
	padding: 20px;
	background-color: #f0f4ee;
}

ul {
	list-style-type: none;
}

li {
	width: 100%;
	justify-content: flex-start;
	gap: 5px;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: #1e4758;
	border-bottom: 1px solid #798776;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}

a > h2:hover {
	color: #bc12a2;
}

h2 {
	color: #835a55;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}

p.category-chip {
	background-color: #3b8ea5;
	border-radius: 20px;
	font-size: 13px;
	font-weight: medium;
	width: fit-content;
	padding: 5px 10px;
	margin: 0;
	color: white;
}

section.date {
	margin-top: 10px;
}
section.date > p {
	margin: 5px 0;
	font-size: 12px;
}

p.sample-text {
	text-overflow: ellipsis;
}
