{% extends 'merchstore/base.html' %}
{% block content %}
<main class="card full-flex">
	<h1>Your Cart</h1>
	{% regroup transactions by product.owner as transactions_by_owner %}
	{% for transaction in transactions_by_owner %}
		<section class="transaction-list">
			<h2>{{ transaction.grouper }}</h2>
			<ul>
				{% for transaction_entry in transaction.list %}
					<li class="product-item">
						<section>
							<p class="bold">{{ transaction_entry.product.product_type }}: {{ transaction_entry.product }}</p>
							<p>PHP {{ transaction_entry.product.price|floatformat:2 }} per item</p>
						</section>
						<section>
							<p>{{ transaction_entry.amount }} bought</p>
							<p class="status-chip">{{ transaction_entry.status }}</p>
						</section>
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
</main>
{% endblock %}
