{% extends 'merchstore/base.html' %}
{% block content %}
<main>
	<h1>merchstore</h1>
	<section class="product-list">
		<ul>
			{% for product in product_list %}
			<li>
				<article class="product-details">
					<a href="{% url 'merchstore:merchstore_item' product.id %}"><h2>{{ product.name }}</h2></a>
					{% if product.product_type %}
						<p class="category-chip">{{ product.product_type }}</p>
					{% endif %}
					<p class="price">{{ product.price }}</p>
				</article>
			</li>
			{% endfor %}
		</ul>
	</section>
</main>
{% endblock %}
