{% extends 'merchstore/base.html' %}
{% load static %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'merchstore/style.css' %}" />
{% endblock %}
{% block title %}Merch Store: {{product.name}}{% endblock %}
{% block content %}
	<main>
		<h1>merch store</h1>
		<section class="content">
			<p>Name: {{product.name}}</p>
			<p>Description: {{product.description}}</p>
			<p>Product Type: {{product.product_type.name}}</p>
			<p>Price: {{product.price}}</p>
		</section>
	</main>
{% endblock %}
