{% extends 'merchstore/base.html' %}
{% block title %}Merch Store: {{product.name}}{% endblock %}
{% block content %}
	<main>
		<h1>{{ product.name }}</h1>
		<section class="content">
			<h2 class="type"><b>Product Type:</b> {{product.product_type.name}}</h3>
			<hr>
			<article class="description">
				<h3><b>Description:</b></h3>
				<p>{{product.description}}</p>
			</article>
			<hr>
			<h2>Amount Left: {{product.stock}}</h2>
			<h2><b>Price:</b> {{product.price}} </h2>
			{% if product.owner != user.profile %}
				{% if product.stock != 0 %}
					<form method="post">
						{% csrf_token %}
						{% for error in form.amount.errors %}
							<p>{{ error }}</p>
						{% endfor %}
						<p>{{form.amount.label_tag}}</p>
						<p>{{form.amount}}</p>
						<button type="submit" name="form_type" value="transaction">Buy</button>
					</form>
				{% else %}
					<p>"This Item is Unavailable, sorry"</p>
				{% endif %}
			{% else %}
				<a href="{% url 'merchstore:product_update' product.id %}">Update Your Product Here!</a>
			{% endif %}
		</section>
	</main>
{% endblock %}
