{% extends 'merchstore/base.html' %}
{% block title %}Merch Store: {{product.name}}{% endblock %}
{% block content %}
<main class="card">
	<p class="bold">{{ product.owner.name }}</p>
	<section class="product-content">
		<section class="product-header">
			<h1>{{ product.name }}</h1>
			<p>PHP {{ product.price|floatformat:2 }}</p>
		</section>
		<p>{{ product.description }}</p>
		<section class="product-footer">
			<p>{{ product.stock }} in stock</p>
			<p class="status-chip">{{ product.status }}</p>
		</section>
	</section>
	<form action="POST">
		{% csrf_token %}
		<input type="number" min="1" name="amount" {% if product.stock <= 0 %}disabled="disabled"{% endif %}/>
	<button type="submit" name="bought_product" value="{{ product.id }}">Buy</button>
	</form>
</main>
{% endblock %}
