{% extends 'merchstore/base.html' %}
{% block content %}
<main class="full-flex">
	<section class="card full-flex">
		<h1>Your Products</h1>
		<section class="product-grid">
			{% for product in user.profile.products.all %}
			<section class="product-item">
				<section>
					<a href="{% url 'merchstore:product_detail' product.id %}"><p class="bold">{{ product.name }}</p></a>
					<p>PHP {{ product.price|floatformat:2 }}</p>
				</section>
				<section>
					<p>{{ product.stock }} in stock</p>
					<p class="status-chip">{{ product.status }}</p>
				</section>
			</section>
			{% endfor %}
		</section>
		<a href="{% url 'merchstore:product_create' %}" class="button">+ Add a new product</a>
	</section>
	<section class="card full-flex">
		<h1>All Products</h1>
		<section class="product-grid">
			{% for product in user.profile.products.all %}
			{% if product.user != user.profile %}
			<section class="product-item">
				<section>
					<a href="{% url 'merchstore:product_detail' product.id %}"><p class="bold">{{ product.name }}</p></a>
					<p>PHP {{ product.price|floatformat:2 }}</p>
				</section>
				<section>
					<p>{{ product.stock }} in stock</p>
					<p class="status-chip">{{ product.status }}</p>
				</section>
			</section>
			{% endif %}
			{% endfor %}
		</section>
	</section>
</main>
{% endblock %}
