{% extends 'merchstore/base.html' %}
{% block content %}
<main class="card">
	<h1>Your Orders</h1>
	{% regroup transactions by buyer as transactions_by_buyer %}
	{% for transaction in transactions_by_buyer %}
		<section class="transaction-list">
			<h2>{{transaction.grouper}}</h2>
			<ul>
				{% for product in transaction.list %}
					<li class="product-item">
						<section>
							<p class="bold">{{ product.name }}</p>
							<p>PHP {{ product.price|floatformat:2 }}</p>
						</section>
						<section>
							<p>{{ product.stock }} in stock</p>
							<p class="status-chip">{{ product.status }}</p>
						</section>
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
</main>
{% endblock %}
